body{
    background-color: #0A192F;
    color: #F8FAFC;
}

.game-board{ 
 display: grid;
 grid-template-columns: repeat(10,50px);
 grid-template-rows: repeat(10,50px);
 justify-content: center;
}

.box {
 background-color: #d9d9d9;
 border: 2px solid black;
}

.gameboard-container{
    display: flex;
    gap: 40px;
}

.ship {
    background-color: #4ade80; /* green */
}

.box:hover {
  background-color: #4f5d75;
  cursor: pointer;
}